.col-action-buttons{
  max-width: 5%;
}


i.fa {
  cursor: pointer;
  margin: 0 10px;
}
i.fa-small{
  font-size: 0.8em;
}
i.fa.size2{
  font-size: 1.4em;
  margin-top: 5px;
}

table tr th:last-child, table tr td:last-child{
  text-align: right;
}


.answer-item{
  margin: 0.11em 0;
  padding: 0.5em 0.3em;
  border: 1px solid #CCC;
  margin-left: 0.7em;
  cursor: pointer;
  border-radius: 0.5em;
}

.answer-item.selected{
  border-color: #0062cc;
  box-shadow: #0062cc 0 0 3px;
}
